*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6;
  color: #8c98c6;
  background-color: #20222f;
}

.container {
  max-width: 111rem;
  margin: 0 auto;
}

.header {
  padding: 3.6rem 0 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  font-size: 2.8rem;
  color: #fff;
}

.followers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.4rem 3rem;
  text-align: center;
}

.followers__facebook {
  background-color: #252b42;
  border-top: 4px hsl(208, 92%, 53%) solid;
  border-radius: 5px;
}

.followers__twitter {
  background-color: #252b42;
  border-top: 4px hsl(203, 89%, 53%) solid;
  border-radius: 5px;
}

.followers__instagram {
  border-radius: 5px;
  background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  padding-top: 4px;
}

.followers__instagram__container {
  background-color: #252b42;
}

.followers__youtube {
  background-color: #252b42;
  border-top: 4px hsl(348, 97%, 39%) solid;
  border-radius: 5px;
}

.followers__profile {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem 0;
}

.followers__profile p {
  font-size: 1.2rem;
}

.h3 {
  font-size: 5.6rem;
  color: #fff;
  letter-spacing: -2px;
}

.para--caps {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 5px;
  margin-top: -1rem;
}

.followers__change {
  padding: 2.5rem 0;
  font-size: 1.2rem;
  color: #1eb589;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.overview {
  padding-top: 5rem;
}

.h2 {
  font-size: 2.4rem;
  color: #fff;
  padding-bottom: 2.4rem;
}

.overview__dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.4rem 3rem;
}

.overview__dashboard__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #252b42;
  border-radius: 5px;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
}

.overview__dashboard__card .left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.h4 {
  color: #fff;
  font-size: 3.2rem;
}

.overview__dashboard__card .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4rem;
  justify-content: space-between;
}

.up {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #1eb589;
}

.down {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: hsl(356, 69%, 56%);
}