*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6;
  color: #8c98c6;
  background-color: #20222f;
  transition: all 0.3s ease-in;
}

body.light-theme {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6;
  color: #63687d;
  background-color: #f7f9ff;
  transition: all 0.3s ease-in;
}

body.light-theme h1,
body.light-theme h2,
body.light-theme h3,
body.light-theme h4 {
  color: #1d1f29;
  transition: all 0.3s ease-in;
}

body.light-theme .followers__facebook,
body.light-theme .followers__twitter,
body.light-theme .followers__instagram__container,
body.light-theme .followers__youtube {
  background-color: #f1f3fa;
  transition: all .3s ease-in;
}

body.light-theme .followers__facebook:hover,
body.light-theme .followers__twitter:hover,
body.light-theme .followers__instagram__container:hover,
body.light-theme .followers__youtube:hover {
  background-color: #e1e4f0;
  transition: all 0.3s ease-in;
}

body.light-theme .overview__dashboard__card {
  background-color: #f1f3fa;
  transition: all 0.3s ease-in;
}

body.light-theme .overview__dashboard__card:hover {
  background-color: #e1e4f0;
  transition: all 0.3s ease-in;
}

body.light-theme .dark-mode {
  color: #848bab;
  transition: all 0.3s ease-in;
}

.dark-mode {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  color: #fff;
  transition: all 0.3s ease-in;
}

.container {
  max-width: 111rem;
  margin: 0 auto 5rem auto;
  transition: all .3s ease-in;
}

.header {
  padding: 3.6rem 0 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
}

.h1 {
  font-size: 2.8rem;
  color: #fff;
}

.followers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.4rem 3rem;
  text-align: center;
}

.followers > :hover {
  background-color: #333a55;
  transition: background-color 0.3s ease-in;
}

.followers__facebook {
  background-color: #252b42;
  border-top: 4px hsl(208, 92%, 53%) solid;
  border-radius: 5px;
  transition: background-color 0.3s ease-in;
}

.followers__twitter {
  background-color: #252b42;
  border-top: 4px hsl(203, 89%, 53%) solid;
  border-radius: 5px;
  transition: background-color 0.3s ease-in;
}

.followers__instagram {
  border-radius: 5px;
  background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  padding-top: 4px;
}

.followers__instagram__container {
  background-color: #252b42;
  transition: background-color 0.3s ease-in;
}

.followers__instagram__container:hover {
  background-color: #333a55;
  transition: background-color 0.3s ease-in;
}

.followers__youtube {
  background-color: #252b42;
  border-top: 4px hsl(348, 97%, 39%) solid;
  border-radius: 5px;
  transition: background-color 0.3s ease-in;
}

.followers__youtube .followers__change p {
  color: hsl(356, 69%, 56%);
}

.followers__profile {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem 0;
}

.followers__profile p {
  font-size: 1.2rem;
}

.h3 {
  font-size: 5.6rem;
  color: #fff;
  letter-spacing: -2px;
}

.para--caps {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 5px;
  margin-top: -1rem;
}

.followers__change {
  padding: 2.5rem 0;
  font-size: 1.2rem;
  color: #1eb589;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  
}

.overview {
  padding-top: 5rem;
}

.h2 {
  font-size: 2.4rem;
  color: #fff;
  padding-bottom: 2.4rem;
}

.overview__dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.4rem 3rem;
}

.overview__dashboard__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #252b42;
  border-radius: 5px;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  transition: background-color 0.3s ease-in;
}

.overview__dashboard__card:hover {
  background-color: #333a55;
  transition: all 0.3s ease-in;
}

.overview__dashboard__card .left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.h4 {
  color: #fff;
  font-size: 3.2rem;
}

.overview__dashboard__card .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4rem;
  justify-content: space-between;
}

.up {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #1eb589;
}

.down {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: hsl(356, 69%, 56%);
}

.switch {
  position: relative;
}

.switch__input {
  display: none;
}

.switch__label {
  display: block;
  width: 48px;
  height: 24px;
}

.switch__label::before,
.switch__label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.switch__label::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, #40db82 0%, #388fe7 98.02%);
  border-radius: 12px;
  transition: all 0.3s ease-in;
}

.switch__label::after {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #252b42;
  box-shadow: 0 0 2px rgba(0,0,0,0.45);
  transition: all 0.3s ease-in;
}

.switch__input:checked + .switch__label::before {
  background-image: linear-gradient(#aeb3cb, #aeb3cb);
}

.switch__input:checked + .switch__label::after {
  left: 27px;
  background-color: #f1f3fa;
}

@media screen and (max-width: 75em) {
  .container {
    padding: 0 3rem;
    transition: all .3s ease-in;
  }
}

@media screen and (max-width: 43.75em) {
  .header {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    transition: all .3s ease-in;
  }

  .header__right {
    margin-top: 2.8rem;
    display: block;
    transition: all .3s ease-in;
  }

  .dark-mode {
    justify-content: space-between;
    color: #8c98c6;
    padding-top: 1.6rem;
    border-top: 1px solid #333a55;
    transition: all .3s ease-in;
  }
}